#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            require-prior-idle-ms = <120>; /* tune to taste */
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        td_ctrl_shift: td_ctrl_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT>, <&kp LCTRL>;
        };

        td_j_esc: td_j_esc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp ESC>;
        };

        nh: number_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            quick-tap-ms = <180>;
        };

        td_0: td_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N0))) N0>, <&nh LA(LC(LG(N0))) N0>;
        };

        td_1: td_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N1))) N1>, <&nh LA(LC(LG(N1))) N1>;
        };

        td_2: td_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N2))) N2>, <&nh LA(LC(LG(N2))) N2>;
        };

        td_3: td_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N3))) N3>, <&nh LA(LC(LG(N3))) N3>;
        };

        td_4: td_4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N4))) N4>, <&nh LA(LC(LG(N4))) N4>;
        };

        td_5: td_5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N5))) N5>, <&nh LA(LC(LG(N5))) N5>;
        };

        td_6: td_6 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N6))) N6>, <&nh LA(LC(LG(N6))) N6>;
        };

        td_7: td_7 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N7))) N7>, <&nh LA(LC(LG(N7))) N7>;
        };

        td_8: td_8 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N8))) N8>, <&nh LA(LC(LG(N8))) N8>;
        };

        td_9: td_9 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&nh LA(LC(LS(N9))) N9>, <&nh LA(LC(LG(N9))) N9>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };

    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <13 29>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <15 21>;
        };

        perc {
            bindings = <&kp PERCENT>;
            key-positions = <5 17>;
            layers = <0>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <28 16>;
            layers = <0>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
            layers = <0>;
        };

        pound {
            bindings = <&kp POUND>;
            key-positions = <3 15>;
            layers = <0>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <2 14>;
            layers = <0>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <26 14>;
            layers = <0>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <8 20>;
            layers = <0>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <32 20>;
            layers = <0>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <7 19>;
            layers = <0>;
        };

        minus {
            bindings = <&kp KP_MINUS>;
            key-positions = <31 19>;
            layers = <0>;
        };

        underscore {
            bindings = <&kp UNDER>;
            key-positions = <30 18>;
            layers = <0>;
        };

        leftbrack {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
            layers = <0>;
        };

        rightbrack {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <33 32>;
            layers = <0>;
        };

        para-less {
            bindings = <&paraless>;
            key-positions = <20 19>;
            layers = <0>;
        };

        para-great {
            bindings = <&paragreat>;
            key-positions = <20 21>;
            layers = <0>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y  &kp U      &kp I      &kp O    &kp P     &kp BACKSPACE
&kp LSHFT  &kp A  &kp S  &kp D  &kp F  &kp G        &kp H  &td_j_esc  &kp K      &kp L    &kp SEMI  &kp BSLH
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N  &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RET
                               &mo 1  &mo 2  &kp LGUI     &kp SPACE  &kp LALT  &mo 1
            >;
        };

        NAV {
            display-name = "NumPad";
            bindings = <
&kp LG(W)   &kp HOME      &kp UP    &kp END       &kp PG_UP  &trans          &trans  &td_7  &td_8  &td_9  &kp LC(LA(LG(P)))     &kp LG(Q)
&mo 3       &kp LC(LEFT)  &kp DOWN  &kp RIGHT     &kp PG_DN  &trans          &trans  &td_4  &td_5  &td_6  &kp LC(LA(LG(BSLH)))  &kp LC(LA(LG(SPACE)))
&kp LSHFT   &kp LC(LA(Q))  &kp LS(LG(FSLH))  &kp LS(LG(A))  &kp LS(LG(V))  &trans    &trans  &td_1  &td_2  &td_3  &kp LC(LS(TAB))  &kp LC(TAB)
                           &trans    &trans        &trans      &kp DOT  &td_0  &trans
            >;
        };

        SYM {
            display-name = "Symbols";
            bindings = <
&kp GRAVE          &kp EXCL          &kp AT            &kp HASH          &kp DLLR          &kp PRCNT          &kp CARET  &kp AMPS   &kp ASTRK          &kp LPAR           &kp RPAR           &kp BSLH
&kp LC(LS(LA(J)))  &kp LC(LS(LA(A)))  &kp LC(LS(LA(S)))  &kp LC(LS(LA(D)))  &kp LC(LS(LA(K)))  &kp LSHFT         &kp SQT    &kp MINUS  &kp LC(LS(LA(EQUAL)))  &kp LC(LS(LA(L)))  &kp LC(LS(LA(SEMI)))  &kp LC(LS(LA(RET)))
&kp LC(N1)         &kp LC(N0)        &trans            &trans            &trans            &trans             &trans     &kp C_PREV  &kp C_VOL_DN       &kp C_VOL_UP       &kp C_NEXT         &kp C_PP
                                      &trans            &mo 3             &trans            &kp LC(LS(LA(SPACE)))  &kp LBRC  &kp RBRC
            >;
        };

        ADJ {
            display-name = "Functions";
            bindings = <
&trans  &trans         &kp LG(UP)    &trans         &trans      &trans              &trans          &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &kp LG(LEFT)  &kp LG(DOWN)  &kp LG(RIGHT)  &trans      &studio_unlock      &trans          &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_CLR  &bt BT_CLR_ALL      &kp LC(LA(F1))  &kp F1  &kp F2  &kp F3  &kp F12  &trans
                                     &trans         &trans      &trans              &trans          &kp LBKT  &kp RBKT
            >;
        };

        EXTRA {
            display-name = "Extra";
            bindings = <
&trans  &trans  &trans          &mkp MCLK       &trans           &msc SCRL_UP      &trans          &kp LC(LA(N7))  &kp LC(LA(N8))  &kp LC(LA(N9))  &kp LALT   &kp LC(LS(LA(SPACE)))
&trans  &trans  &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &msc SCRL_DOWN    &trans          &kp LC(LA(N4))  &kp LC(LA(N5))  &kp LC(LA(N6))  &trans     &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans            &kp LC(LA(N0))  &kp LC(LA(N1))  &kp LC(LA(N2))  &kp LC(LA(N3))  &trans     &trans
                                &trans          &trans           &trans            &kp LSHFT       &trans          &trans
            >;
        };
    };

};
    
